.product-details {
    display: flex;
    padding: 25px 60px 25px 25px;
    margin-bottom: 75px;
    box-sizing: border-box;
    width: 100vh;
}


.img-container {
    width: 10em;

}

.small-product {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    padding-top: 10px;
}

.big-product img {
    width: 67em;
}

.small-product img {
    width: 33em;    
}

.product-desc {
    width: 90%;
    padding-top: 25px;
    padding-left: 1000px;
    
}

.swatch-size {
    padding-top: 30px;
    padding-bottom: 30px;;
    column-gap: 7px;
    row-gap: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.swatch-size-item {
    border: 1px solid #e5e5e5;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: border .2s ease;
    
}

.product-desc {
    width: 90em;
}
.swatch-size-item-active {
    border: 5px solid #181818;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    cursor: pointer;
    transition: border .2s ease;
    
}

.swatch-size-item-active2 {
    border: 5px solid #181818;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    cursor: pointer;
    transition: border .2s ease;
    
}

.add {
    width: 24em;
    height: 4em;
    justify-content: center;
    border-radius: 10em;
    background-color: white;
    position: relative;
    text-align: center;
}

.add:hover {
    border: 1px solid transparent;
    background-color: #a41d23;
    color: white
}

.btn-container {
    padding-bottom: 1em;
}

.panel-toggle {
    font-size: .75rem;
    cursor: pointer;
    padding: 13.3333px 20px 13.3333px 0;
    position: relative;
    border-bottom: 1px solid #181818;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
}









