.product-details {
    display: flex;
    padding: 25px 60px 25px 25px;
    margin-bottom: 75px;
    box-sizing: border-box;
}



.img-container {
    width: 100px;

}

.small-product {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    padding-top: 10px;
}

.product-desc {
    width: 90%;
    padding-top: 25px;
    padding-left: 1000px;
    
}

.swatch-size {
    padding-top: 30px;
    padding-bottom: 30px;;
    column-gap: 7px;
    row-gap: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.swatch-size-item {
    border: 1px solid #e5e5e5;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    cursor: pointer;
    transition: border .2s ease;
    
}

.swatch-size-item-active {
    border: 5px solid #181818;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    cursor: pointer;
    transition: border .2s ease;
    
}

.add {
    width: 25em;
    height: 4em;
    margin: 0 auto;
    border-radius: 10em;
    background-color: white;
}

.btn-container {
    padding-left: 60px;
    padding-bottom: 20px;
}

.panel-toggle {
    font-size: .75rem;
    cursor: pointer;
    padding: 13.3333px 20px 13.3333px 0;
    position: relative;
    border-bottom: 1px solid #181818;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
}









