.slider-container {
    padding-left: 100px;
    padding-top: 100px;
    
}


.slider {
    position: absolute;
    
    /* grid-template-columns: auto auto auto auto auto; */
    overflow-x: scroll;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-rows: 25%; 
    grid-template-columns: unset; 
    grid-template-rows: unset;
    
}


.sli-c {
    width: 300px;
    height: 425px;
    overflow: hidden;
    object-fit: cover;
}

.sli-c img {
    width: 300px;
    height: 300px;
}

