.slider-container {
    padding-top: 10px;
    grid-column: 1 / -1;
}


.slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.sli-bottom {
    justify-content: center;
    text-align: center;
}


.sli-c {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    text-align: center;
}

.sli-c img {
    width: 25em;
    height: auto;
   
}


@media only screen and (min-width: 1600px) {
    .slider-container {
        width: 1600px;
    }
}