.splash-container {
    padding-top: 10px;
    margin: 0 auto;
    width: 100%;
    position: relative;

}

.data-panel {
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8em;
    left: 10em;
    background-color: white;
    width: 30em;
    height: 20em;
    padding: 45px 35px 35px 35px;
}

.data-container {
    color: #a41d23;
    font-size: .8rem;
    padding-bottom: 10px;
}

.data-title {
    font-size: 1.4rem;
}

.data-desc {
    padding-top: 1em;
    padding-bottom: 2em;
    line-height: 24px;
    font-size: .9rem;
}

.data-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 0.1rem solid rgb(164, 29, 35);
    color: rgb(164, 29, 35);
    background-color: transparent;
    height: 2.8rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 1.4rem;
    width: max-content;

}

.splash-image {
    max-width: 100%;
    height: auto;
    display: inline-flex;
    object-fit: contain;
    object-position: center center;
}

.tblock {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 50px;
    grid-gap: 50px;

}

.oblock img {
    width: 686px;
    height: 514px;
    object-fit: contain;
}

.cat-desc {
    width: 600px;

}

.red-text {
    color: #a41d23;

}

.red-text-1 {
    color: #a41d23;
    text-decoration: underline;
}

.journal {
    background-color: white;
    width: 600px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    bottom: 60px;
    overflow-wrap: break-word;
    padding: 10px 10px;

}

.journal p {
    line-height: 24px;
}