.navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid;
   
}

.leftside1 {
    margin-left: 10px;
}

.leftside2 {
    margin-left: 2.4rem; 
}

.logo {
    margin: 0 auto;
}

.rightside1 {
    margin-right: 2.4rem;
 
}

.rightside2 {
    margin-right: 10px;
}

