.navbar {
    background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: calc(100% - 180px);
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 600ms ease 0s;
  height: 90px;
    top: 0;
    position: sticky;
    display: flex; 
    width: 100%;
    background: white;
   
}

.leftside1 {
    margin-left: 10px;
}

.leftside2 {
    margin-left: 2.4rem; 
}

.logo {
    margin: 0 auto;
}

.rightside1 {
    margin-right: 2.4rem;
 
}

.rightside2 {
    margin-right: 10px;
}

